*.pyc
*.sh
main_linear.sh
main_test.sh
main_tree.sh
main.sh
tensor.sh
!*LT.sh
*.pt
prototree.pt

summary/*
output_txt/*
data/*

!data/inat
data/inat/*
!data/inat/iNaturalist18_val.txt
!data/inat/iNaturalist18_train.txt
!data/inat/dict_label.txt

!data/COVID-19_Radiography_Dataset
data/COVID-19_Radiography_Dataset/*
!data/COVID-19_Radiography_Dataset/train.txt
!data/COVID-19_Radiography_Dataset/test.txt

!data/place
data/place/*
!data/place/train.txt
!data/place/val.txt
!data/place/Places_LT_test.txt
!data/place/Places_LT_train.txt
!data/place/Places_LT_val.txt
!data/place/dict_label.txt

Model/features/state_dicts/
__pycache__/
.vscode/
pretrained_models/*
ckpt/*
result/*
